<div style="text-align:center">
  <h1>About</h1>
  <hr/>
  <div class="row">
    <div class="col-lg-6">
      <p>Hello there!</p>
      <p>This website was made by <a href="//dadario.com.br">Anderson Dadario</a> (<a href="https://twitter.com/andersonmvd">@andersonmvd</a>) and is intended to be mainteined by him and by the security community through stories submissions. Both the data and the source code are open source and available on GitHub in the repository <a href="https://github.com/andersonDadario/howihacked">andersonDadario/howihacked</a>. You're <a href="#/submit">more than welcome to contribute!</a></p>

      <p>This site at first was supposed to be a blog post, but Anderson thought that could be done better so he built this website in one day (2015-12-12) to provide a better experience for those who want to learn about hacking cases to enhance their skills on protecting applications and servers from real world threats.</p>
    </div>
    <div class="col-lg-6">
      <img src="http://dadario.com.br/public/images/logo.jpg" alt="" />
    </div>
  </div>
</div>