<div style="text-align:center">
  <h1>Submit a Story</h1>
  <hr/>
  <div class="row">
    <div class="col-lg-6">
      <h2>Option 1) Google Forms</h2>
      <ul>
        <li>Just fill out <a href="https://docs.google.com/forms/d/1B9OvKdP9vq4MfxOVGyd3Zn8cPniBI9khMBts5Qa0BbI/viewform?usp=send_form">this form</a>.</li>
        <li>We will review and add it and modify only if necessary.</li>
        <li>Your name will appear as the story submitter.</li>
        <li>We appreciate your interest to help in advance. Thank you.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2>Option 2) Pull Request</h2>
      <ul>
        <li>Feel free to directly update the 'data.json' file adding your story on the top of it. Please add all attributes as shown in other stories.</li>
        <li>Slugs can have only alphanumeric and dashes.</li>
        <li>Tags can have only alphanumeric characters.</li>
        <li>We will review and add it and modify only if necessary.</li>
        <li>Your name will appear as the story submitter.</li>
        <li>We appreciate your interest to help in advance. Thank you.</li>
      </ul>
    </div>
  </div>
</div>